<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.muhammadsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.muhammadsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.muhammadsapplication.app.modules.paymentportal.ui.PaymentPortalActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.preferences.ui.PreferencesActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.muhammadsapplication.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.muhammadsapplication.app.modules.homecontainer.ui.HomecontainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.signin.ui.SignInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.specificitem.ui.SpecificItemActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.gettingstarted.ui.GettingStartedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.verification.ui.VerificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.muhammadsapplication.app.modules.homewithhamburgermenu.ui.HomewithhamburgermenuActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
